@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,100;1,400;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.searchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 6vh;
  background-color: #242526;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
form > * {
  margin: 0 5px;
}
input, select {
  height: 3vh;
  width: 9vw;
  text-align: center;
  background: #fff;
  opacity: .5;
  color: blueviolet;
  border: none;
  border-radius: 5px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5625 9.34375L12 14.7812L17.4375 9.34375L18.75 10.6562L12 17.4062L5.25 10.6562L6.5625 9.34375Z' fill='%233B3B3B'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 5px top 50%;
  background-size: 14px auto;
  padding-right: 25px;
}
button{
  width: 40px;
  height: 34px;
  border: none;
  background-color: transparent;
}
button img{
  width: 32px;
  height: 32px;
}
p {
  margin: 0 10px;
  color: #fff;
}
.schooltxt{
  margin-left: 25vw;
  font-size: 30px;
  font-weight: 300;
  color: var(--text-color);
  padding: 12px 60px;
}
.tagh1{
  font-size: 30px;
  font-weight: 300;
  color: var(--text-color);
  /* font-family: 'Courgette', cursive; */
  text-align: center;
  padding: 12px 60px;
}

.PDdiv{
  margin-top: 3vh;
  /* margin-left: 14vw; */
  width: 84vw; height: 58vh;
  display: grid;
  grid-template-columns: 42vw 42vw;
  grid-template-areas: "PDdivD1 PDdivP1";
}
.PDdivD1{
  margin-left: 3vw;
  grid-area:PDdivD1;
  width: 42vw; height: 52vh;
  padding: 2vh 2vw;
  /* background-color:#157718; */
}
.PDdivP1{
  grid-area:PDdivP1;
  width: 42vw; height: 52vh;
  /* background-color:#77155f; */
  padding: 2vh 2vw;
}
.pieChart{
  margin: 15px;
  background-color:#155977 !important;
}
.PDdivChart{
  padding: 1vh 1vw;
  width: 38vw; height: 40vh; background-color:#155977;
}
